body {
  background-color: rgb(12, 12, 12);
}

.title {
  color: white;
  font-size: 150px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.button1 {
  border-radius: 12px;
}

.button {
  height: 64px;
  width: 128px;
  color: white;
  font-size: x-large;
  background-color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
